 This is Custom Index File. 

Executing on Machine IP : {{ ansible_all_ipv4_addresses }}

This is OS Family : {{ ansible_os_family }}

This Machine FQDN is : {{ ansible_fqdn }}

This is Distro : {{ ansible_distribution }} and BIOS : {{ ansible_bios_version }}

From where this tasks executed: {{ custom_var }}
